#header {
    color: white; 
    border-radius: 40px;
    background: black; 
    text-align: center;
}
.contacts {
    color: rgb(255, 255, 255); 
    border-radius: 40px;
    background: red; 
    text-align: center;
}
.education {
    color: white; 
    border-radius: 40px;
    background: black; 
    text-align: center;
}

